In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv= "2017.csv"

In [3]:
happiness=pd.read_csv(csv)

In [4]:
happiness.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [5]:
happiness_2 = happiness[["Country", "Happiness.Rank", "Economy..GDP.per.Capita.", "Freedom"]]

In [6]:
happiness_3 = happiness_2.rename(columns={"Country":"country","Happiness.Rank":"happiness_rank",\
                                          "Economy..GDP.per.Capita.":"gdp_per_capita",\
                                         "Freedom":"freedom"})

In [7]:
happiness_3.head()

       country  happiness_rank  gdp_per_capita   freedom
0       Norway               1        1.616463  0.635423
1      Denmark               2        1.482383  0.626007
2      Iceland               3        1.480633  0.627163
3  Switzerland               4        1.564980  0.620071
4      Finland               5        1.443572  0.617951

In [8]:
csv2="directory.csv"

In [9]:
directory=pd.read_csv(csv2)

In [10]:
new_directory = directory[directory.Brand == 'Starbucks']

In [11]:
new_directory2 = new_directory[['Brand','Country']]

In [12]:
new_directory3=new_directory2.groupby('Country').count()

In [13]:
cleaned_directory=new_directory3.rename(columns={'Brand':"amount_of_stores"})

In [14]:
csv3='country_code.csv'

In [15]:
country_code=pd.read_csv(csv3)

In [16]:
country_code=country_code.drop(columns=['Unnamed: 0', 'code_3digit'])

In [17]:
country_code=country_code.rename(columns={"Country_name": "Country"})

In [18]:
merged_directory=cleaned_directory.merge(country_code, left_on='Country', right_on='code_2digit')

In [19]:
clean_merged_directory=merged_directory.drop(columns='code_2digit')

In [20]:
clean_merged_directory.head()

   amount_of_stores               Country
0                 1               Andorra
1               144  United Arab Emirates
2               108             Argentina
3                18               Austria
4                22             Australia

In [21]:
rds_connection_string = "postgres:postgres@localhost:5432/SuperUberDuberProject"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [22]:
engine.table_names()

[]

In [23]:
clean_merged_directory.to_sql(name='store_directory',if_exists='append', con=engine, index=False)

In [24]:
happiness_3.to_sql(name='happiness', con=engine, if_exists='append', index=False)

In [25]:
pd.read_sql_query('select * from happiness', con=engine).head()

       country  happiness_rank  gdp_per_capita   freedom
0       Norway               1        1.616463  0.635423
1      Denmark               2        1.482383  0.626007
2      Iceland               3        1.480633  0.627163
3  Switzerland               4        1.564980  0.620071
4      Finland               5        1.443572  0.617951